body {
  height: 100%;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #005bea,
    #0073f4,
    #0088fb,
    #009cfe,
    #00affe,
    #00adf6,
    #00aaef,
    #00a8e7,
    #0092d6,
    #007bc5,
    #0566b1,
    #17509d
  );
}
